:root{
    --bg-color:#fff;
    --box-font-color:#000;
    --box-color: hsl(0, 0%, 70%);
    --win-box-color:hsl(0,0%,20%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section {
    padding: 3rem;
    text-align: center;
}
#gameBoard{
    margin: 2rem auto;
    width: clamp(10rem, 80vw, 20rem);

    display: grid;
    gap:3px;
    grid-template-columns: repeat(3, 1fr);
}
.gameBoard__box{
    cursor: pointer;
    aspect-ratio: 1;
    background-color: var(--box-color);
}
button{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    outline: transparent;
    border: none;
    background-color: lightpink;
}